<table>
    <tr>
     <td>  
<mdb-card class="wid td">
<mdb-card class="wid">
    <!--Card image-->
  
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Permission</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text>
          
      
    
        <div class="md-form"> 
            <label for="form107" class="margin white-text">Name:--</label><br>
            </div>
         
        <div class="md-form"> 
            <label for="form107" class="margin white-text">joiningDate:--</label><br>
            </div>
         
        <div class="md-form"> 
            <label for="form107" class="margin white-text">Team:--</label><br>
            </div>   
      </mdb-card-text>
  <table>
      <tr >
          <td >
      <a href="#" mdbBtn color="primary" class="button" mdbWavesEffect >Accpect</a>
    </td>
    <td >
      <a href="#" mdbBtn color="primary"  class="button"  mdbWavesEffect>Decline</a>
    </td>
    </tr>
    </table>
</mdb-card-body>
  </mdb-card>
</mdb-card>
     </td>
 <td>
    <tr>
        <td>  
   <mdb-card class="wid td">
   <mdb-card class="wid">
       <!--Card image-->
     
       <!--Card content-->
       <mdb-card-body>
     
         <!--Title-->
         <mdb-card-title>
           <h4>Permission</h4>
         </mdb-card-title>
     
         <!--Text-->
         <mdb-card-text>
             
         
       
           <div class="md-form"> 
               <label for="form107" class="margin white-text">Name:--</label><br>
               </div>
            
           <div class="md-form"> 
               <label for="form107" class="margin white-text">joiningDate:--</label><br>
               </div>
            
           <div class="md-form"> 
               <label for="form107" class="margin white-text">Team:--</label><br>
               </div>   
         </mdb-card-text>
     <table>
         <tr >
             <td >
         <a href="#" mdbBtn color="primary" class="button" mdbWavesEffect >Accpect</a>
       </td>
       <td >
         <a href="#" mdbBtn color="primary"  class="button"  mdbWavesEffect>Decline</a>
       </td>
       </tr>
       </table>
   </mdb-card-body>
     </mdb-card>
   </mdb-card>
        </td>
    <td>
<mdb-card class="wid">
    <mdb-card class="wid">
        <!--Card image-->
      
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>Permission</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text>
              
          
        
            <div class="md-form"> 
                <label for="form107" class="margin white-text">Name:--</label><br>
                </div>
             
            <div class="md-form"> 
                <label for="form107" class="margin white-text">joiningDate:--</label><br>
                </div>
             
            <div class="md-form"> 
                <label for="form107" class="margin white-text">Team:--</label><br>
                </div>   
          </mdb-card-text>
      <table>
          <tr >
              <td >
          <a href="#" mdbBtn color="primary" class="button" mdbWavesEffect >Accpect</a>
        </td>
        <td >
          <a href="#" mdbBtn color="primary"  class="button"  mdbWavesEffect>Decline</a>
        </td>
        </tr>
        </table>
        </mdb-card-body>
      </mdb-card>
    </mdb-card>
    </td>
</tr>
</table>
