
<header class="h-100">
  <div>
  <div class="container">
    <div class="row">
      <div class="col-3">
 <!-- Sidebar -->
 <div class="sidebar-fixed position-fixed z-index:9999" >


  <div class="avatar mx-auto text-center ">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle"
          width="100px">
  </div>

  <!-- user name-->

  <h4 style="text-transform: capitalize" class="name text-center">Admin</h4>


  <div class="list-group list-group-flush">
      <a routerLink="" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Dashboard
      </a>
      <a  routerLink="" routerLinkActive="active"
          class="list-group-item list-group-item-action waves-effect">
          <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Users
      </a>
      <a routerLink="" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Blog
      </a>
      <a routerLink="" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <mdb-icon far icon="map" class="mr-3"></mdb-icon>Maps
      </a>
      <a routerLink="" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <mdb-icon fas icon="exclamation" class="mr-3"></mdb-icon>404
      </a>
  </div>


</div><!-- Sidebar -->



      </div>
    <div class="col-9">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo"[containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#">
          <strong>Mentor Section</strong>
        </a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">AssignTask</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Submitted</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
  </div>
</div>
</div>
    <!-- Main -->
    <div class="view intro-2">
      <div class="full-bg-img">
        <div class="mask rgba-purple-light flex-center">
          <div class="container text-center white-text wow fadeInUp">
           <!--Naked Form-->
        
<div class="card-block mt-20px">
<mdb-card>
    <!--Header-->
     <!--Header-->
     <div class="header ripe-malinka-gradient">
  
        <div class="row d-flex justify-content-center">
          <h3 class="white-text mb-0 py-5 font-weight-bold">Assingn the task</h3>
        </div>
  
      </div>
      <!--Header-->
    <mdb-card-body class="mx-4">
        <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="md-form">
                <select class="ui search dropdown select">
                  <option value="">Select Student name</option>
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District Of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
              </div>
        
              <div class="md-form">
                
                <div class="md-form">
                
                  <input type="date" id="input" class="form-control" mdbInput formControlName="date">
                 
                </div>
              </div>
        
              <div class="md-form">
              
                <input type="text" id="form106" class="form-control" mdbInput formControlName="Subject">
                <label for="form106">Points</label>
              </div>
        
              <div class="md-form">
               
                <textarea type="text" id="form107" class="md-textarea form-control" rows="5" mdbInput formControlName="TaskDetails"></textarea>
                <label for="form107">TaskDetails</label>
              </div>
              <div class="md-form">

                <select class="custom-select" multiple>
                    <option selected>Technogy</option>
                    <option value="1">Angular</option>
                    <option value="2">java</option>
                    <option value="3">node</option>
                  </select>   
              </div>
        
              <!--Grid row-->
              <div class="row d-flex align-items-center mb-3 mt-4">
        
                <!--Grid column-->
                <div class="col-md-12">
                  <div class="text-center">
                    <button type="submit" mdbBtn color="grey" rounded="true" class="z-depth-1a">Assign</button>
                  </div>
                </div>
                <!--Grid column-->
        
              </div>
            </form >
              <!--Grid row-->
            </mdb-card-body>
        
</mdb-card>
</div>
</div> 
          </div>
        </div>
      </div>
</div>
    
    <!-- /.Main -->
</header>
  <!--Main Navigation-->

  <!--Main Layout-->
  
  <!-- Footer -->
<footer class="page-footer font-small black">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
                <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
                <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
                <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
                <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
                <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <!--Main Layout-->