<div class="card-block mt-20px">
    <mdb-card>
      <!--Header-->
      <!--Header-->
  
      <div class="header morpheus-den-gradient">
  
        <div class="row d-flex justify-content-center">
          <h3 class="white-text mb-0 py-5 font-weight-bold">Submit the task</h3>
        </div>
  
      </div>
      <!--Header-->
      <mdb-card-body class="mx-4 ">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
         
          <table class="table">
  
            
         
  
          <div class="md-form">
    
  
            <label for="form107" class="margin white-text">TaskDetails:--</label><br><br>
          </div>
          <div class="md-form">
  
            <label for="form107" class="margin white-text">Points:--</label><br><br>
            
          </div>
        </table>  
          <!--Grid row-->
          <div class="row d-flex align-items-center mb-3 mt-4">
  
            <!--Grid column-->
            <!--Grid column-->
  
          </div>
        </form>
        <!--Grid row-->
          
      </mdb-card-body>
  
    </mdb-card>
  </div>