<section class="form-gradient mb-5">
  
    <!--Form with header-->
    <mdb-card  cascade="true">
  <mdb-card-body class="mx-4" cascade="true" class="text-center">
    <mdb-card-text>
  <form>
  <div class="md-form" >
   
    <input type="text" id="defaultLoginFormEmail" class="form-control mb-4 white-text textcolor" placeholder="Enter your name">
  
  <!-- Password -->
  <input type="text" id="defaultLoginFormteam" class="form-control mb-4 textcolor" placeholder="Enter your team">
  <input type="text" id="defaultLoginFormjoin" class="form-control mb-4 textcolor" placeholder="Enter your technology" >
  <input type="date" id="input" class="form-control" >
  <label class="textcolor" for="input">Enter your Joining Date</label>

  
  <div class="d-flex justify-content-around">
  <div>
    <!-- Remember me -->
   
  </div>
 
 </div>
  
  <!-- Sign in button -->
  <button class="btn btn-info btn-block my-4 morpheus-den-gradient color-block mb-3 mx-auto " type="submit">SignIn</button>
  <!-- Social login -->
  <p class="textcolor">or sign in with:</p>
  
  <a href="#" class="mx-2 textcolor" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
  <a href="#" class="mx-2 textcolor" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
  <a href="#" class="mx-2 textcolor" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
  <a href="#" class="mx-2 textcolor" role="button"><i class="fab fa-github light-blue-text"></i></a>
    <!--Grid column-->
  
  </div>
  </form >
  </mdb-card-text>
  <!--Grid row-->
  </mdb-card-body>
  </mdb-card>
  </section>
  
  