<body class="bg">
   
    <div style="padding: 80px 300px">
        <div class="col" style="padding: 80px 350px;">
           
  <!-- Section: form gradient -->
  
  <section class="form-gradient mb-5">
  
      <!--Form with header-->
      <mdb-card  cascade="true">
    
        <!--Header-->
        <div>
    
          <div class="row d-flex justify-content-center purple-gradient color-block mb-3 mx-auto z-depth-1">
            
            <div class="container">
                <div class="row ">
                  <div class="col " routerLink="/login"> <h3 class="white-text mb-0 py-5 font-weight-bold">LogIn</h3></div>
                  <div class="col"routerLink="/signup"> <h3 class="white-text mb-0 py-5 font-weight-bold">SignUp</h3></div>
                 
                  </div>
                  </div>
          </div>
    
        </div>
        <!--Header-->
    
      
      </mdb-card>
      <!--/Form with header-->
      <router-outlet></router-outlet>    
    </section>
    <!-- Section: form gradient -->
    <!-- Section: form dark -->
    
    <!-- Section: form dark -->
 
  <!--/.Card-->
  </div>
  </div>
  </body>
